/**
 *
 * Project Name: Leaven;
 * Author: Abdulaha Islam;
 * Version: 1.0.1;
 * Company: Abnipes Network;
 * Descriptions: Leaven is an html5 responsive e-commerce template;
 *
 *
 *
 **************
 * Table of Content of Site Responsive Style
 **************
 *
 * 01.
 *
 *
 *
 * 
 */

section.leaven__header_area {
    display: none;
}



/* X-Large devices (large desktops, less than 1400px) */
@media screen and (max-width: 1399.98px) {

/* Home */
section.leaven__header_top_area {
    display: none;
}

.leaven__top_left_content {
    display: none;
}

/*  */

}

/* Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) {

/* Home */
.leaven__promo_content {
    padding-left: 15px;
}
.leaven__hero_item_content {padding: 150px 3px;}
.leaven__sale_content {
    padding: 90px 0;
}

section.leaven__offer_area,
section.leaven__most_view_product_area,
section.leaven__featured_products,
section.leaven__best_seller_area,
section.leaven__payment_logos {
    padding: 60px 0;
}
.leaven__app_link a {
    display: block;
}

/* 404 */
.leaven__error_content_bg {
    height: 260px;
}

/* comming soon */
section.leaven__comming_soon_area {
    padding: 100px 0;
}

.leaven__comming_soon_content h2 {
    font-size: 82px;
    line-height: 84px;
}

}


/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {

/* Home */
.leaven__call_to_action_area_content {
    padding: 60px;
}
.leaven__call_to_action_area_content h2 {
    font-size: 36px;
}
.leaven__featured_image {
    height: 360px;
}
.leaven__sale_content h2 {
    font-size: 36px;
}
.leaven__sale_content {
    padding: 50px 0;
}
.leaven__app_link a {
    display: unset;
}
.leaven__single_carousel_item.slick-slide.slick-active.slick-center {
    transform: scale(1.2);
    padding: 50px 50px;
}

/* 404 */
.leaven__error_content_bg {
    height: 200px;
}


/* comming soon */
section.leaven__comming_soon_area {
    padding: 100px 0;
}

.leaven__comming_soon_content h2 {
    font-size: 78px;
    line-height: 84px;
}

/* comming soon */
div#countdown ul li {
    font-size: 14px;
    width: 120px;
}

div#countdown ul li:after {
    width: 80px;
    height: 80px;
    top: -30%;
    left: 18%;
}

.leaven__comming_soon_form input[type="email"] {
    width: 40%;
}

}


/* Small devices (landscape phones, less than 768px)  */
@media screen and (max-width: 767.98px) {

/* Home */
.leaven__single_offer {padding: 0;}

.leaven__offer_content_img {padding: 25px 0;}

.leaven__offer_content_img img {}

.leaven__offer_content_img a img {}

.leaven__offer_content {padding-bottom: 380px;}

.leaven__most_view_product_area {padding: 60px 0;}

.leaven__sale_img {height: 340px;}

.leaven__sale_content {padding: 64px 0;}

.leaven__sale_content h2 {font-size: 36px;margin-bottom: 20px;}

ul.slick-dots {bottom: 10%;}

.leaven__promo_area {margin: 50px 3px;}

.leaven__sale_area {padding: 50px 0 0;margin: 0;}

.leaven__most_view_carousel button.slick-prev.pull-left {left: 5%;}

.leaven__most_view_carousel button.slick-next.pull-right {right: 5%;}

.leaven__single_carousel_thum {height: 360px;}

.leaven__single_carousel_item {
    transform: scale(1);
}

.leaven__newsletter_content input[type="email"] {width: 72%;display: block;margin: 0 auto;}

.leaven__newsletter_content form {}

.leaven__newsletter_content button {width: auto;margin: 20px 0 0;}

/* 404 */
.leaven__error_content_bg {
    height: 140px;
}

/*  */
.leaven__comming_soon_form input[type="email"] {
    width: 66%;
    margin-right: 0 !important;
    margin: 0 auto;
}

.leaven__comming_soon_form button {
    width: auto;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

}

/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575px) {

/* Home */
section.leaven__header_top_area {
    display: none;
}

.leaven__top_left_content {
    display: none;
}

.leaven__top_right_content {padding: 0 3px;}

.leaven__site_meta {padding-right: 5px;}

.leaven__hero_item_content {padding: 140px 3px;}

.leaven__hero_item_content h3 {font-size: 26px;}

.leaven__hero_item_content h2 {font-size: 58px;}

.leaven__hero_item_content a.leaven__hero_btn {padding: 5px 15px;}

.leaven__offer_area {padding: 50px 15px !important;}

.leaven__offer_content {padding-bottom: 320px;}

.leaven__most_view_product_area {padding: 60px 0;}

.leaven__single_carousel_item.slick-slide.slick-active.slick-center {padding: 80px 40px;}

.leaven__featured_products {padding: 60px 3px;}

.leaven__featured_image {
    height: 420px !important;
}

.leaven__single_featured_item {margin: 30px 0;padding: 0;}

.leaven__call_to_action_area_content {padding: 50px 25px;}

.leaven__call_to_action_area_content h2 {font-size: 42px;}

.leaven__best_freature_bg {padding-top: 420px;}

.leaven__best_seller_area {padding: 60px 15px !important;}

.leaven__best_seller_single_product {width: 50%;}

.leaven__best_seller_products {margin-top: 50px;}

.leaven__newsletter_content h2 {font-size: 36px;}

.leaven__newsletter_content h4 {font-size: 21px;}

.leaven__payment_logos {padding: 60px 0;}

.leaven__footer_top_area {
    padding: 50px 15px 20px;
}

.leaven__copyright_text p {font-size: 16px;}

.leaven__copyright_text span {font-size: 14px;}


/* 404 */
.leaven__error_content_bg {
    height: 95px;
}

/* commint soon */
.leaven__comming_soon_content h2 {
    font-size: 58px;
    line-height: 58px;
}

.leaven__comming_soon_content h4 {
    font-size: 28px;
}

div#countdown ul li {
    margin-bottom: 90px;
}

div#countdown {
    padding: 60px 0 0;
}

}
