/**
 *
 * Project Name: Leaven;
 * Author: Abdulaha Islam;
 * Version: 1.0.1;
 * Company: Abnipes Network;
 * Descriptions: Leaven is an html5 responsive e-commerce template;
 *
 *
 *
 **************
 * Table of Content
 **************
 *
 * 01.
 *
 *
 *
 * 
 */


/* Default css */
body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    transition: all 0.3s ease;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* Variables */
:root {
  --primary: #f15724;
  --secondary: #202b31;
  --white: #ffffff;
  --montserrat: 'Montserrat';
  --mont: 'Mont Heavy DEMO';
}


/* Header Top Area */
.leaven__header_top_area {
    color: var(--white);
    background-color: var(--secondary);
    padding: 18px 0;
    font-size: 14px;
}

.leaven__header_top_area a {
    color: var(--white);
}

.leaven__header_top_area a:hover {
    color: var(--primary);
}

.leaven__header_top_area ul li {
    display: inline-block;
}


.leaven__top_left_content {}

.leaven__top_left_content ul li {
    margin-right: 10px;
    font-weight: 300;
}

.leaven__social_media ul li {
    margin: 0px 4px;
}

.leaven__social_media ul li a {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: var(--secondary);
    background-color: var(--white);
    text-align: center;
    border-radius: 50%;
}

.leaven__social_media ul li a:hover {
    color: var(--white);
    background-color: var(--primary);
}

.leaven__top_left_content a i {
    margin-right: 7px;
}

.leaven__top_right_content {
    display: flex;
    justify-content: space-between;
}

.leaven__site_meta ul li {
    margin: 0px 5px;
    position: relative;
}

.leaven__site_meta ul li:last-child {
    margin-right: 0;
    margin-left: 10px;
}

.leaven__site_meta ul li span.lea-separetor {
    display: inline-block;
    padding: 0 8px;
}

.leaven__site_meta ul li:last-child span {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: var(--white);
    background-color: var(--primary);
    text-align: center;
    font-size: 80%;
    border-radius: 50%;
    top: -8px;
    right: -12px;
}


/* Header Main  */
.leaven__header_area {
    padding: 25px 0;
}

.leaven__logo {}

.leaven__logo h1 {
    color: var(--secondary);
    font-family: var(--mont);
}

.leaven__logo h1 span {
    color: var(--primary);
}

.leaven__main_menu {}

.leaven__main_menu nav {}

.leaven__main_menu nav ul {
  text-align: center;
}

.leaven__main_menu nav ul li {
    position: relative;
    display: inline-block;
}

.leaven__main_menu nav ul li a {
    display: block;
    color: var(--secondary);
    padding: 2px 15px;
    font-family: var(--montserrat);
    font-weight: 500;
}

.leaven__main_menu nav ul li a:hover {
    color: var(--primary);
}


.leaven__search_box {}

.leaven__search_box form {
    display: flex;
    justify-content: end;
}

.leaven__search_box form input:focus {
    outline: none;
    box-shadow: none;
}
.leaven__search_box form input {
    border: 1px solid var(--primary);
    padding: 2px 10px;
    border-radius: 7px 0 0 7px;
}

.leaven__search_box form button {
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    padding: 0 10px;
    border-radius: 0 7px 7px 0;
    transition: all 0.3s ease;
}

.leaven__search_box form button:hover {
    color: var(--primary);
    background-color: transparent;
}







