/**
 *
 * Project Name: Leaven;
 * Author: Abdulaha Islam;
 * Version: 1.0.1;
 * Company: Abnipes Network;
 * Descriptions: Leaven is an html5 responsive e-commerce template;
 *
 *
 *
 **************
 * Table of Content
 **************
 *
 * 01.
 *
 *
 *
 * 
 */

/* Default css */
body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.leaven__btn {
    display: inline-block;
    padding: 10px 25px;
    text-transform: uppercase;
    border: 1px solid;
    color: var(--primary);
}

.leaven__btn i {
    margin-left: 10px;
}

.leaven__sale_btn {
    color: var(--white);
    background-color: var(--primary);
}

.leaven__sale_btn:hover {
    color: var(--primary);
    background-color: transparent;
}

/* Variables */
:root {
    --primary: #f15724;
    --secondary: #202b31;
    --gray: #585858;
    --graybg: #f7f7f6;
    --white: #ffffff;
    --montserrat: "Montserrat";
    --mont: "Mont Heavy DEMO";
    --bebas: "Bebas Neue";
}

/* Section Title and below style */
.leaven__section_title h2 {
    margin: 0;
}

.leaven__section_title {
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
}

span.leaven__title_dots {
    position: relative;
    width: 10px;
    height: 10px;
    display: inline-block;
    background: var(--primary);
    border-radius: 50%;
}

span.leaven__title_dots:after,
span.leaven__title_dots:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: var(--primary);
    border-radius: 50%;
}

span.leaven__title_dots:before {
    right: 20px;
}

span.leaven__title_dots:after {
    left: 20px;
}

/* Page Title and Breadcrumb */
section.leaven__page_title {
    padding: 30px 0;
    background: #EDEDED;
    border-top: 2px solid #dbd8d8;
}

section.leaven__page_title h2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary);
}

.leaven__page_head_breadcrumb {}

.leaven__page_head_breadcrumb ul {}

.leaven__page_head_breadcrumb ul li {
    display: inline-block;
    position: relative;
    padding-right: 22px;
}

.leaven__page_head_breadcrumb ul li:after {
    position: absolute;
    content: "\f101";
    font-family: 'FontAwesome';
    right: 4px;
    font-size: 15px;
}

.leaven__page_head_breadcrumb ul li a {
    color: #222;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.leaven__page_head_breadcrumb ul li a i {
    margin-right: 6px;
}

.leaven__page_head_breadcrumb ul li:last-child:after {
    content: "";
}

.leaven__page_head_breadcrumb ul li:last-child a {
    color: var(--primary);
    font-weight: 600;
}


/* Header Top Area */
.leaven__header_top_area {
    color: var(--white);
    background-color: var(--secondary);
    padding: 18px 0;
    font-size: 14px;
}

.leaven__header_top_area a {
    color: var(--white);
}

.leaven__header_top_area a:hover {
    color: var(--primary);
}

.leaven__header_top_area ul li {
    display: inline-block;
}

.leaven__top_left_content {}

.leaven__top_left_content ul li {
    margin-right: 10px;
    font-weight: 300;
}

.leaven__social_media ul li {
    margin: 0px 4px;
}

.leaven__social_media ul li a {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: var(--secondary);
    background-color: var(--white);
    text-align: center;
    border-radius: 50%;
}

.leaven__social_media ul li a:hover {
    color: var(--white);
    background-color: var(--primary);
}

.leaven__top_left_content a i {
    margin-right: 7px;
}

.leaven__top_right_content {
    display: flex;
    justify-content: space-between;
}

.leaven__site_meta ul li {
    margin: 0px 5px;
    position: relative;
}

.leaven__site_meta ul li:last-child {
    margin-right: 0;
    margin-left: 10px;
}

.leaven__site_meta ul li span.lea-separetor {
    display: inline-block;
    padding: 0 8px;
}

.leaven__site_meta ul li:last-child span {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: var(--white);
    background-color: var(--primary);
    text-align: center;
    font-size: 80%;
    border-radius: 50%;
    top: -8px;
    right: -12px;
}

/* Header Main  */
.leaven__header_area {
    padding: 25px 0;
}

/* Logo */
.leaven__logo {}

.leaven__logo h1 {
    color: var(--secondary);
    font-family: var(--mont);
    font-size: 38px;
}

.leaven__logo h1 span {
    color: var(--primary);
}

/* Menu */
.leaven__main_menu {}

.leaven__main_menu nav {}

.leaven__main_menu nav ul {
    text-align: center;
}

.leaven__main_menu nav ul li {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.leaven__main_menu nav ul li span {
    display: inline-block;
    position: relative;
    right: 5px;
}

.leaven__main_menu nav ul li a {
    display: block;
    color: var(--secondary);
    padding: 5px 15px;
    font-family: var(--montserrat);
    font-weight: 500;
    text-transform: capitalize;
}

.leaven__main_menu nav ul li a:hover {
    color: var(--primary);
}

/* Menu Dropdown */
.leaven__main_menu nav ul li ul.submenu {
    position: absolute;
    top: 140%;
    left: 0;
    width: 220px;
    background: var(--secondary);
    padding: 10px;
    box-shadow: 0 0 3px #a7a7a4;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 2;
}

.leaven__main_menu nav ul li ul.submenu li {
    display: block;
    text-align: left;
}

.leaven__main_menu nav ul li ul.submenu li a {
    color: #fff;
    font-size: 90%;
    padding: 0 0 6px 5px;
}

.leaven__main_menu nav ul li:hover a,
.leaven__main_menu nav ul li:hover ul.submenu li a:hover,
.leaven__main_menu nav ul li:hover span {
    color: var(--primary);
}

.leaven__main_menu nav ul li:hover ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

/* Search Box */
.leaven__search_box {}

.leaven__search_box form {
    display: flex;
    justify-content: end;
}

.leaven__search_box form input:focus {
    outline: none;
    box-shadow: none;
}

.leaven__search_box form input {
    border: 1px solid var(--primary);
    padding: 2px 10px;
    border-radius: 7px 0 0 7px;
}

.leaven__search_box form button {
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    padding: 0 10px;
    border-radius: 0 7px 7px 0;
    transition: all 0.3s ease;
}

.leaven__search_box form button:hover {
    color: var(--primary);
    background-color: transparent;
}

/* Hero area */
section.leaven__hero_area {}

.leaven__hero_single_item {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

section.leaven__hero_area.slick-initialized.slick-slider {
    margin: 0 !important;
}

.leaven__hero_single_item:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: var(--secondary);
    opacity: 0.3;
}

.leaven__hero_item_content {
    min-height: 50vh;
    padding: 200px 0;
    text-align: right;
}

.leaven__hero_item_content h3 {
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
    font-family: var(--montserrat);
}

.leaven__hero_item_content h2 {
    color: var(--white);
    font-size: 75px;
    font-family: var(--bebas);
    text-transform: uppercase;
    line-height: 0.8;
    margin: 20px 0;
    padding: 0;
}

.leaven__hero_item_content a.leaven__hero_btn {
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    padding: 7px 20px;
    display: inline-block;
}

.leaven__hero_item_content a.leaven__hero_btn:hover {
    background-color: transparent;
}

ul.slick-dots {
    bottom: 15%;
}

.slick-dots li {
    width: 15px;
    height: 15px;
    background: var(--white);
    border-radius: 50%;
}

.slick-dots li.slick-active {
    background: var(--primary);
}

/* Promo area */
section.leaven__promo_area {
    position: relative;
    margin-top: -50px;
    z-index: 1;
}

.leaven__single_promo_item {
    display: flex;
    align-items: center;
    background: #f4f9fd;
    padding: 15px 10px;
    transition: all 0.4s ease;
    box-shadow: 0 0 1px #222;
}

.leaven__promo_icon {
    flex: 1;
    text-align: center;
    font-size: 40px;
}

.leaven__promo_icon i {}

.leaven__promo_content {
    flex: 3;
}

.leaven__promo_content h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--montserrat);
    margin: 0;
}

.leaven__promo_content p {
    margin: 0;
    color: var(--gray);
    font-size: 14px;
    font-weight: 300;
}

.leaven__single_promo_item:hover,
.leaven__single_promo_item.active {
    background: red;
    color: #fff;
}

.leaven__single_promo_item:hover p,
.leaven__single_promo_item.active p {
    color: #fff;
}

/* Sale Area */
section.leaven__sale_area {
    padding-top: 100px;
    background-color: var(--graybg);
    margin-top: -50px;
}

.leaven__sale_img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.leaven__sale_img img {}

.leaven__sale_content {
    padding: 200px 0;
}

.leaven__sale_content h2 {
    font-weight: 600;
    margin: 0;
    font-size: 50px;
    text-transform: uppercase;
    color: var(--secondary);
    margin-bottom: 30px;
}

.leaven__sale_content a.leaven__sale_btn {}

/* Offer Area */
section.leaven__offer_area {
    padding: 100px 0;
}

.leaven__single_offer {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.leaven__offer_content {
    text-align: right;
    width: 190px;
    margin-left: auto;
    padding: 20px;
    color: var(--white);
}

.leaven__offer_content h3 {
    font-size: 28px;
    text-transform: uppercase;
}

.leaven__offer_content a {
    color: var(--white);
    text-transform: uppercase;
    text-decoration: underline;
}

.leaven__offer_content a:hover {
    color: var(--primary);
}

.leaven__single_offer:last-child .leaven__offer_content a:hover {
    color: var(--primary);
}

.leaven__offer_content_img {
    padding: 0 10px;
}

.leaven__offer_content_img img {
    width: 100%;
}

.leaven__offer_content_img a:nth-child(1) img {
    margin-bottom: 20px;
}

.leaven__single_offer:last-child .leaven__offer_content,
.leaven__single_offer:last-child .leaven__offer_content a {
    color: var(--secondary);
    margin-left: 0;
    text-align: left;
}

/* Most View Area */
.leaven__most_view_product_area {
    padding: 100px 0;
    background-color: #f5f5f5;
}

.leaven__most_view_carousel {}

.leaven__single_carousel_item {
    text-align: center;
    background-color: var(--white);
    padding: 50px;
    transform: scale(0.6);
    transition: all 0.4s ease;
}

.leaven__single_carousel_thum {
    height: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.leaven__single_carousel_meta {
    margin: 20px 0;
}

.leaven__single_carousel_meta ul {}

.leaven__single_carousel_meta ul li {
    margin: 0 5px;
}

.leaven__single_carousel_meta ul li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    align-items: center;
    color: var(--secondary);
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    transition: all 0.4s ease;
}

.leaven__single_carousel_meta ul li a:hover {
    color: var(--white);
    background: var(--primary);
}

.leaven__single_carousel_meta ul li a i {}

.leaven__single_carousel_item h3 {
    font-size: 16px;
}

.leaven__single_carousel_item.slick-slide.slick-active.slick-center .leaven__single_carousel_item h3 {
    font-size: 18px;
}

.leaven__single_carousel_item p {
    font-size: 14px;
}

.leaven__single_carousel_meta {
    opacity: 0;
    margin-top: -30px;
}

.leaven__single_carousel_item.slick-slide.slick-active.slick-center {
    transform: scale(1.2);
    padding: 70px 50px;
    transition: all 0.4s ease;
}

.leaven__single_carousel_item.slick-slide.slick-active.slick-center .leaven__single_carousel_meta {
    opacity: 1;
    margin-top: 20px;
}

/* Carousel button */
button.slick-prev.pull-left,
button.slick-next.pull-right {
    width: 30px;
    height: 30px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #222;
}

button.slick-prev.pull-left {
    left: 32%;
    z-index: 5;
}

button.slick-next.pull-right {
    right: 32%;
    z-index: 5;
}

button.slick-prev.pull-left i,
button.slick-next.pull-right i {
    font-size: 21px;
    color: #222;
}

.slick-prev:before,
.slick-next:before {
    font-size: 0 !important;
}

/* Featured Products */
section.leaven__featured_products {
    padding: 100px 0;
}

.leaven__single_featured_item {
    text-align: center;
    margin-top: 50px;
    transition: all 0.4s ease;
    position: relative;
    padding-bottom: 30px;
}

.leaven__single_featured_item:hover {
    box-shadow: 0 0 5px #c7c6c6;
}

span.leaven__product_ribon {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 7;
    background: var(--primary);
    padding: 5px 30px;
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
}

span.leaven__product_ribon:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 100%;
    top: 0px;
    right: -15px;
    background: var(--primary);
    clip-path: polygon(100% 0%, 63% 50%, 100% 100%, 0 98%, 0% 50%, 0 0);
}

.leaven__on_sale,
.leaven__on_sale:after {
    background: #cb24f5 !important;
}

.leaven__new_arrivals,
.leaven__new_arrivals:after {
    background: var(--primary);
}

.leaven__featured_image {
    height: 470px;
    width: auto;
    background-position: top center;
    background-size: cover;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}

.leaven__featured_image:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--secondary);
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
}

.leaven__featured_overlay {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.leaven__single_featured_item:hover .leaven__featured_image:after {
    opacity: 0.7;
    visibility: visible;
}

.leaven__single_featured_item:hover .leaven__featured_overlay {
    opacity: 1;
    visibility: visible;
}

.leaven__featured_overlay_actions {
    display: flex;
    flex-direction: column;
}

.leaven__featured_overlay_actions a {
    color: var(--white);
    background-color: var(--primary);
    margin: 5px 0;
    display: inline-block;
    padding: 5px 15px;
    font-size: 15px;
    text-transform: capitalize;
}

.leaven__featured_overlay_actions.leaven__sold_out a {
    background-color: #222;
}

.leaven__featured_overlay_actions a:hover {
    background: var(--secondary);
}

.leaven__featured_overlay .leaven__wishlist_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    font-size: 21px;
    color: var(--white);
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 50px;
}

.leaven__featured_overlay .leaven__wishlist_icon:hover {
    background-color: var(--primary);
}

.leaven__single_featured_item h3 {
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 15px;
}

.leaven__single_featured_item p {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 15px;
}

.leaven__product_sizes {}

.leaven__product_sizes ul {}

.leaven__product_sizes ul li {
    margin: 0 8px;
}

.leaven__product_sizes ul li a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid;
    color: #222;
    font-size: 16px;
    font-weight: 600;
}

.leaven__single_featured_item:hover h3 {
    color: var(--primary);
}

.leaven__product_sizes ul li a:hover {
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

/* Call to action */
section.leaven__call_to_action_area {}

.leaven__call_to_action_area_content {
    color: var(--white);
    padding: 70px 100px;
    background-color: rgb(32, 43, 48, 0.5);
    background-blend-mode: overlay;
}

.leaven__call_to_action_area_content h3 {
    font-size: 21px;
}

.leaven__call_to_action_area_content h2 {
    font-size: 46px;
    font-weight: 700;
}

.leaven__cta_btn {
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.leaven__cta_btn:hover {
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--primary);
}

/* Best seller area */
.leaven__best_seller_area {
    padding: 100px 0;
}

.leaven__best_freature_bg {
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.leaven__best_freature_bg a {
    color: var(--white);
    text-transform: capitalize;
    padding: 25px 20px;
    font-size: 14px;
}

.leaven__best_freature_bg a:hover {
    color: var(--primary);
}

.leaven__best_seller_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.leaven__best_seller_single_product {
    width: 23%;
    text-align: center;
}

.leaven__best_seller_single_product:nth-child(1),
.leaven__best_seller_single_product:nth-child(2),
.leaven__best_seller_single_product:nth-child(3),
.leaven__best_seller_single_product:nth-child(4) {
    margin-bottom: 30px;
}

.leaven__best_product_thumb {
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.leaven__best_seller_single_product h3 {
    font-size: 15px;
}

.leaven__best_seller_single_product h4 {
    font-size: 12px;
}

/* Newsletter */
section.leaven__newsletter {
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 75px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.leaven__newsletter:after {
    position: absolute;
    content: "";
    background: var(--secondary);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}

.leaven__newsletter_content {}

.leaven__newsletter_content h2 {
    font-size: 52px;
    font-weight: 600;
}

.leaven__newsletter_content h4 {
    font-size: 25px;
}

.leaven__newsletter_content form {
    margin-top: 39px;
    margin-bottom: 20px;
}

.leaven__newsletter_content input[type="email"] {
    width: 24%;
    padding: 10px;
    margin-right: 35px;
    border: 2px solid var(--primary);
    border-radius: 5px;
}

.leaven__newsletter_content button {
    width: 16%;
    padding: 10px;
    border: 2px solid var(--primary);
    background: var(--primary);
    color: var(--white);
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 5px;
}

.leaven__newsletter_content span {
    font-size: 14px;
}

/* Payment carousel */
section.leaven__payment_logos {
    padding: 100px 0;
}

.leaven__payment_carousel {}

.leaven__payment_logo {}

.leaven__payment_logo img {
    width: 115px;
    filter: grayscale(100%);
    margin: auto;
}

.leaven__payment_logo img:hover {
    filter: grayscale(0%);
}

/* Footer */

/* Footer top area */
footer {}

.leaven__footer_top_area {
    padding: 50px 0 20px;
    background: var(--secondary);
    color: var(--white);
}

.leaven__widget {
    padding-bottom: 35px;
}

.leaven__footer_info {}

.leaven__footer_logo {}

.leaven__footer_logo h1 {
    color: var(--white);
}

.leaven__footer_info p {
    font-size: 15px;
    padding-right: 20px;
}

.leaven__footer_info ul {}

.leaven__footer_info ul li {
    margin-bottom: 5px;
}

.leaven__footer_info ul li a {
    color: var(--white);
    font-size: 15px;
}

.leaven__footer_info ul li a i {
    margin-right: 8px;
    width: 15px;
    text-align: center;
}

.leaven__footer_menu {}

.leaven__widget_title {
    margin-bottom: 28px;
}

.leaven__widget_title h3 {
    text-transform: capitalize;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

.leaven__widget_title h3:after {
    position: absolute;
    content: "";
    width: 42px;
    height: 3px;
    background: red;
    top: 30px;
    left: 0;
}

ul.leaven__footer_menu_item {}

ul.leaven__footer_menu_item li {
    margin-bottom: 5px;
}

ul.leaven__footer_menu_item li i {
    margin-right: 5px;
}

ul.leaven__footer_menu_item li a {
    color: var(--white);
}

ul.leaven__footer_menu_item li a:hover {
    color: var(--primary);
}

ul.leaven__footer_menu_item li a:hover ul.leaven__footer_menu_item li a i {
    color: var(--white);
}

.leaven__footer_links {}

.leaven__app_link {
    display: block;
    margin-bottom: 20px;
}

.leaven__app_link a {
    margin-right: 15px;
    margin-bottom: 15px;
}

.leaven__app_link img {}

.leaven__footer_links h4 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

ul.leaven__footer_social_media {}

ul.leaven__footer_social_media li {
    display: inline-block;
    margin-right: 8px;
}

ul.leaven__footer_social_media li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border: 1px solid var(--white);
    color: var(--secondary);
    background: var(--white);
    border-radius: 50%;
    font-size: 14px;
}

ul.leaven__footer_social_media li a:hover {
    color: var(--white);
    background: var(--primary);
    border: 1px solid var(--primary);
}

ul.leaven__footer_social_media li a i {}

/* Footer bottom area */
.leaven__footer_bottom_area {
    background: var(--primary);
    color: var(--white);
    padding: 30px 0;
}

.leaven__copyright_text {}

.leaven__copyright_text p {
    margin-bottom: 5px;
    font-size: 18px;
}

.leaven__copyright_text span {
    font-size: 15px;
}

/* Error Page */

/*  */
section.leaven__error_content_area {
    padding: 300px 0;
}

.leaven__error_content_bg {
    height: 360px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 40px;
}

a.leaven__error_btn {
    color: var(--white);
    background: var(--secondary);
    padding: 10px 30px;
    border: 1px solid var(--secondary);
}

a.leaven__error_btn:hover {
    color: var(--secondary);
    background: transparent;
    border: 1px solid var(--secondary);
}

/*  */

/*  */
section.leaven__comming_soon_area {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding: 200px 0;
}

section.leaven__comming_soon_area:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--secondary);
    opacity: 0.7;
    z-index: -1;
}

.leaven__comming_soon_content {
    color: var(--white);
}

.leaven__comming_soon_content h2 {
    font-size: 128px;
    font-weight: 700;
    color: var(--primary);
}

.leaven__comming_soon_content h4 {
    font-size: 36px;
}

div#countdown {
    padding: 80px 0;
}

div#countdown ul {}

div#countdown ul li {
    font-size: 18px;
    display: inline-block;
    width: 180px;
    position: relative;
    text-align: center;
    text-transform: capitalize;
}

div#countdown ul li:after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    border: 3px solid var(--primary);
    top: -35%;
    left: 22%;
    transform: rotate(135deg);
}

div#countdown ul li span {
    display: block;
    font-weight: 600;
}

.leaven__comming_soon_content p {
    font-size: 20px;
    margin-bottom: 10px;
}

.leaven__comming_soon_form {}

.leaven__comming_soon_form input[type="email"] {
    width: 24%;
    padding: 10px;
    margin-right: 35px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    background: transparent;
    color: var(--white);
}

.leaven__comming_soon_form button {
    width: 21%;
    padding: 10px;
    border: 2px solid var(--primary);
    background: var(--primary);
    color: var(--white);
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 5px;
}

.leaven__comming_soon_social_media {
    margin-top: 20px;
}

.leaven__comming_soon_social_media ul {}

.leaven__comming_soon_social_media ul li {
    display: inline-block;
}


/* Faq Page */
section.leaven__faq_page_content {
    padding: 100px 0;
}

.leaven__accourdian_content {
    padding-right: 40px;
}

.leaven__accourdian_content .accordion-item {
    border-radius: 0;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, .125);
}

.leaven__accourdian_content .accordion-button:not(.collapsed) {
    color: var(--white);
    background-color: var(--secondary);
    font-size: 18px;
    font-weight: 500;
}

.leaven__accourdian_content .accordion-button::after {
    content: "\f067";
    font-family: 'FontAwesome';
    background-image: none;
    margin-right: -8px;
}

.leaven__accourdian_content .accordion-button:not(.collapsed)::after {
    content: "\f068";
    font-family: 'FontAwesome';
    background-image: none;
    margin-right: 0;
}

.leaven__accourdian_content .accordion-button {
    color: var(--secondary);
    background-color: #EDEDED;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 15px;
}

/* form */
.leaven__faq_form {}

.leaven__faq_form h3 {
    font-size: 28px;
    font-weight: 600;
    color: var(--primary);
}

.leaven__faq_form label.form-label {
    font-weight: 600;
    margin-bottom: 3px;
}

.leaven__faq_form .form-control {
    background-color: #EDEDED;
    border-radius: 0;
    outline: none;
    margin-bottom: 15px;
    border: transparent;
    box-shadow: none;
}

.leaven__faq_form textarea {
    resize: none;
}

.leaven__faq_form button {
    display: block;
    margin-left: auto;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0;
    padding: 4px 24px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    transition: all 0.3s ease;
}

/* cart */

section.leaven__cart_page_content {
    padding: 100px 0;
}

.leaven__cart_table {}

.leaven__cart_table table {}

.leaven__cart_table thead {
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
}

.leaven__cart_table thead tr {}

.leaven__cart_table thead tr th {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 600;
}

.leaven__cart_table .table>:not(:first-child) {
    border-top: none;
}

.leaven__cart_table tbody tr {
    border-bottom: 1px solid var(--primary) !important;
}

.leaven__cart_table tbody tr td {
    padding: 12px 0;
    text-align: center;
    vertical-align: middle;
}

.leaven__product_text {
    text-align: left;
    padding-left: 20px;
}

.leaven__product_text h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.leaven__product_text h5 {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

span.leaven__product_price,
span.leaven__product_totla_price {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
}

.leaven__quantity_block {
    width: 100px;
    position: relative;
    margin: 0 auto;
}

button.leaven__quantity_arrow_minus,
button.leaven__quantity_arrow_plus {
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    width: 25px;
    box-sizing: border-box;

    outline: none;
    border-radius: 0;
    border: 2px solid;
    background: transparent;
}

button.leaven__quantity_arrow_minus {
    position: absolute;
    top: 0;
    left: 0;
}

button.leaven__quantity_arrow_plus {
    position: absolute;
    top: 0;
    right: 0;
}

input.leaven__quantity_num {
    font-size: 15px;
    padding: 5px 0 5px 15px;
    border-radius: 4px;
    outline: none;
    width: 100%;
    text-align: center;
}

td.cross {
    font-size: 16px;
    font-weight: 700;
    padding-right: 10px !important;
}




.leaven__cart_form {
    padding: 25px 12px;
    box-shadow: 1px 3px 12px -5px rgb(32 43 48);
}

.leaven__subtotal,
.leaven__discount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.leaven__discount p,
.leaven__subtotal p {
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
}

.leaven__coupon {
    padding: 25px 0 35px;
}

input#coupon_code {
    display: block;
    width: 100%;
    border: 3px solid var(--primary);
    padding: 5px 5px;
    margin-bottom: 12px;
    outline: none;
}

button.leaven__coupon_button {
    width: 100%;
    display: block;
    border: 2px solid var(--primary);
    padding: 6px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--white);
    background: var(--primary);
}

.leaven__cart_bottom_button {}

.leaven__cart_bottom_button a {
    padding: 4px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0;
    transition: all 0.3s ease;
}

.leaven__continue_shopping {
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
}

.leaven__continue_shopping:hover {
    border: 2px solid var(--secondary);
    color: var(--secondary);
    background-color: transparent;
}

.leaven__to_checkout {
    margin-top: 20px;
    background-color: var(--primary);
    border: 2px solid var(--primary);
}

.leaven__to_checkout:hover {
    border: 2px solid var(--primary);
    color: var(--primary);
    background-color: transparent;
}


/* contact */
section.leaven__contact_page_content {
    padding: 100px 0;
}

.leaven__contact_page_info {
    padding: 20px 40px !important;
}

.leaven__contact_page_info,
.leaven__contact_form {
    box-shadow: 1px 3px 12px -5px rgb(32 43 48);
    padding: 20px;
}

.leaven__contact_page_info h3,
.leaven__contact_form h3 {
    font-size: 28px;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 20px;
}

.leaven__contact_info_social_list {
    margin-bottom: 50px;
}

.leaven__contact_info_social_list h3 {
    margin: 0;
}

.leaven__contact_info_social_list li {
    display: inline-block;
    padding: 5px;
}

.leaven__contact_info_social_list li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    color: var(--primary);
    border-radius: 50%;
    font-size: 24px;
    line-height: 45px;
}

.leaven__contact_info_social_list li a:hover {
    color: var(--white);
    background: var(--primary);
}

.leaven__contact_info_list {
    padding-left: 25px;
    margin-bottom: 45px;
}

.leaven__contact_info_list li {
    margin-bottom: 10px;
}

.leaven__contact_info_list li a {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);
}

.leaven__contact_info_list li a i {
    display: inline-block;
    width: 25px;
    text-align: center;
    margin-right: 8px;
}


.leaven__contact_form {}

.leaven__contact_form h3 {
    font-size: 28px;
    font-weight: 600;
    color: var(--primary);
}

.leaven__contact_form label.form-label {
    font-weight: 600;
    margin-bottom: 3px;
}

.leaven__contact_form .form-control {
    background-color: #EDEDED;
    border-radius: 0;
    outline: none;
    margin-bottom: 15px;
    border: transparent;
    box-shadow: none;
}

.leaven__contact_form textarea {
    resize: none;
}

.leaven__contact_form button {
    display: block;
    margin-left: auto;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0;
    padding: 4px 24px;
    text-transform: capitalize;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    transition: all 0.3s ease;
}